/*@media (max-width: 1400px) {*/
/*      .hide-at-600px {*/
/*        width: 50%;*/
/*      }*/
/*        .max-at-600px{*/
/*            width: 50%;*/
/*        }*/
/*    }*/
@media (min-width: 1681px) {
  .container {
    max-width: 1533px;
  }
  .col-xxl-12 {width: 100%;}
  .col-xxl-11 {width: 91.66666667%;}
  .col-xxl-10 {width: 83.33333333%;}
  .col-xxl-9 {width: 75%;}
  .col-xxl-8 {width: 70%;}
  .col-xxl-7 {width: 58.33333333%;}
  .col-xxl-6 {width: 50%;}
  .col-xxl-5 {width: 41.66666667%;}
  .col-xxl-4 {width: 30%;}
  .col-xxl-3 {width: 25%;}
  .col-xxl-2 {width: 16.66666667%;}
  .col-xxl-1 {width: 8.33333333%;}
  .col-xxl-auto {width: auto;}
}
/*.custom-container {*/
/*  max-width: 2000px;*/
/*    padding-left: 10%;*/
/*    padding-right: 10%;*/
/*}*/

/* 大于 2000px 时，两列的比例为 4:1 */
@media (min-width: 2000px) {
  .container {
    max-width: 2540px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .col-xxl-8 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* 1200px 到 1400px 之间，两列的比例为 2:1 */
@media (min-width: 1200px) and (max-width: 1399px) {
    .custom-container {
    padding-left: 6%;
    padding-right: 6%;
  }
  .col-xxl-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* 小于 1117px 时，固定 .container 的宽度为 1117px */
@media (max-width: 1199px) {
  .container {
    min-width: 1200px;
    padding-left: 3%;
    padding-right: 3%;
  }
    .col-xxl-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.cp{
    cursor: pointer
}


.app-header {
    font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif!important;
    font-size: 14px;
    color: #18191c;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    /*font-weight: bold;;*/
}
/*左侧视频标题部分*/
.title-black-big{
    font-size: 21px;
    font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
    line-height: 28px;
    font-weight:400;
}
.title-gray-mes{
    font-size: 13px;
    font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
    color: #9499A0;
    font-weight:400;
}
.video-num-of-watch{
    font-size:14px;
    color:#505050;
}
/*左侧 点赞投币分享*/
.op-icon{
    color:#61666D;
    cursor: pointer;
}
.op-icon:hover{
    color:#00AEEC;
}
.op-icon-image{
    height:36px;
    width:36px;
}
.video-op{
 font-size:14px;
}
/*左侧 视频简介*/
.video-des{
    color:#18191C;
    font-size:16px;
    font-family:PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
    line-height:24px;
}
#more-des-button{
    cursor: pointer;
    font-size: 14px;
    color: #61666D;
}
#more-des-button:hover{
    color: #00AEEC;
}
/*左侧 视频标签*/
.video-rand-tab{
    color: #505050;
    background-color: #F1F2F3 ;
    font-size: 14px;
    line-height: 32px;
    font-weight:normal;
}

/*评论区相关*/
.pinglun{
    font-size:25px;
    color:#18191C;
}
#num_of_comment{
    font-size:15px;color:#9499A0;
}
.hot_or_new{
    font-size: 17px;
    color: #9499A0;
}
.hot_or_new.active{
    color: #18191C;
}
.hot_or_new:hover{
    color: #00AEEC;
    cursor:pointer;
}

.reply-decorate{
    position: absolute;
    top: 0;
    right: 0;
}
.user-sailing-img{
    height:48px;
}
.user-sailing-text{
    position: absolute;
    right: 0;
    top:10%;
    font-size: 13px;
    line-height: 16px;
}
.root-reply-avatar{
    left: 0;
    width: 80px;
    cursor: pointer;
}
.comment-right{
    margin-left:80px
}
.bili-avatar-img{
    height: 40.8px;
    width: 40.8px;
    border-radius:50%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
.bili-avatar-pendent-dom{
    height: 72px;
    width: 72px;
    position: absolute;
    bottom: -16px;
    left: 4px;
}
.comment-s-item-name{
    font-size: 14px;
    font-family: BlinkMacSystemFont sans-serif;
    color: #61666d;
}
.comment-s-item-name2{
    font-size: 14px;
    font-family: BlinkMacSystemFont sans-serif;
    color:#FB7299;
}
.level-img-wrap{
    height:25px;
}
.level-img {
    height:25px;width:25px
}
.fan-badge{
    display: flex;
    align-items: center;
    height: 14px;
    padding-left: 5px;
    /*border: .5px solid ;*/
    border-radius: 10px;
    margin-left: 5px;
}
.badge-name-warp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    height: 100%;
    margin-right: 4px;
}
.badge-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 500;
    white-space: nowrap;
    transform: scale(.5) translate(-50%, -50%);
    transform-origin: 0 0;
}
.badge-level-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 11.5px;
    height: 11.5px;
    border-radius: 50%;
    margin-right: .5px;
}
.badge-level{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 52%;
    left: 50%;
    font-family: Reeji-CloudHuPo-GBK;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1;
    transform: scale(.5) translate(-50%, -43%);
    transform-origin: 0 0;
}
.reply-top-icon{
    top: -2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 18px;
    border: 1px solid #FF6699;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 12px;
    color: #FF6699;
}
.reply-content{
    color: #18191C;;
    line-height: 24px;
    vertical-align: baseline;
    word-wrap: break-word;
    font-weight: 400;
    font-size:16px;
}
.reply-info{
    font-size: 13px;
    font-family: BlinkMacSystemFont sans-serif;
    color: #9499A0;
}
.reply-op-icon{
    height:16px;width:16px
}
.root-reply-avatar2{
    left: 0;
    width: 42px;
    cursor: pointer;
}
.bili-avatar-img2{
    height: 24px;
    width: 24px;
    border-radius:50%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
.reply-right{
    margin-left:42px;
    word-wrap: break-word;
}
.comment-view-more1{
    color:#9499A0;
    font-size: 13px;
}
.comment-view-more2{
    color:#9499A0;
    font-size: 13px;
    cursor: pointer;
}
.comment-view-more2:hover{
    color:#1890ff;
}
.comment-view-more-page{
    font-size: 13px;
    color:#18191C;
    cursor: pointer;
}
.comment-view-more-page-active{
    font-size: 13px;
    color:#00AEEC;
}
.comment-view-more-page:hover{
    color:#00AEEC;
}
.comment-view-more-page-m{
    font-size: 13px;
    color:#18191C;
}

/*右侧-up信息*/
.up-title{
    color:#FF6699;
    font-size:16px;
    cursor: pointer;
}
.up-title:hover{
    color:#FB7299
}
.up-title-mes{
    color:#61666D;font-size:14px;
}
.up-des{
    color:#9499A0;font-size:14px;
}
.chongdian{
    background-color: white;
    border: 1px solid #FF6699;
    color:#FF6699;
    font-size: 13px;
    border-radius: 5px;
}
.chongdian:hover{
    background-color: #FFECF1;
    border: 1px solid #FF6699;
    color:#FF6699;
}
#guanzhu{
    background-color: #E3E5E7 ;
    color:#9499A0;
    border-radius: 5px;
    font-size: 13px;
    width:60%;margin-left:5%;height:30px
}
.guanzhu:hover{
    background-color: #F1F2F3;
    color:#9499A0;
}
.player_bottom{
    font-size: 16px;
    box-shadow:0px 0px 8px #E3E5E7;
    color: #505050;
}
/*右侧-广告tab*/
.zhuantiye-hover:hover{
    cursor: pointer;
    color:#00AEEC;
}
.list-container{
    background:#F1F2F3;
    border-radius: 8px;
}
/*右侧-播放列表*/
.list-play{
    max-height: 152px;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.list-play::-webkit-scrollbar {
  width: 6px; /* 设置滚动条宽度 */
  height: 6px; /* 设置滚动条高度 */
}

.list-play::-webkit-scrollbar-thumb {
  border-radius: 3px; /* 设置滚动条滑块圆角 */
  background-color: rgba(0, 0, 0, 0.2); /* 设置滑块颜色 */
}

.list-play::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.05); /* 设置滑块轨道颜色 */
}
.list-small-text {
    color: #9499A0;
    font-size: 14px;
}
.list-small-button{
     color: #9499A0;
    background-color: #E3E5E7;
    font-size: 13px;
}
.list_play_item_container{
    background: #FFFFFF;
    cursor:pointer
}
.list_play_item{
    color:#18191C;
    font-size: 15px;
}
.list_play_item:hover{
    color:#00AEEC;
}
.list_playing_item{
    color:#00AEEC;
    font-size: 15px;
}
.list-play-time{
    color:#9499A0;
    font-size: 14px;
}
.list-dur-span{
    position: absolute;
    bottom: 6px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 0 4px;
    color: #FFFFFF;;
}
/* 右侧-广告*/
.ad-title{
    font-size: 16px;
    color:#18191C;
    font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}
.ad-score{
    color:#ffa726;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}
.ad-gonggao-pan{
    background-color: #fff6e4;
    color:#E58900;
    font-size: 12px;
}
.ad-button{
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    background-color: #00AEEC;
    color:white;
    font-size: 14px;
}
.ad-button:hover{
    background-color: #00AEEC;
    color:white;
}
