.body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.scroll {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#click_left_button:hover{
    color: #505050;
}
#click_right_button:hover{
    color: #505050;
}
