<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{videos[vid]['title']}}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="mygo.css") }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-icons/bootstrap-icons.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="jquery/jquery-3.7.1.min.js") }}"></script>
    <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="nplayer/dist/index.min.js") }}"></script>
    <script src="{{ url_for("static", filename="nplayer-danmaku/dist/index.min.js") }}"></script>
    <script> const vid = '{{vid}}';</script>
    <script src="{{ url_for("static", filename="main.js") }}"></script>
    <script src="{{ url_for("static", filename="player.js") }}"></script>
</head>
<body class="body">
<div class="container-fluid m-0 p-0 position-relative">
    <div><img style="width:100%" src="{{ url_for("static", filename="mygo_static/mygo1.png") }}"/></div>
    <a href="https://mall.bilibili.com/act/aicms/Ux2yGo7eC.html?spm_id_from=333.999.rich-text.link.click">
        <img style="position:absolute;width:40%;left: 30%;top:5%" src="{{ url_for("static", filename="mygo_static/mygo1_1.png") }}"/>
    </a>
</div>

<div class="container-fluid m-0 p-0 position-relative">
    <div><img style="width:100%" src="{{ url_for("static", filename="mygo_static/mygo2.png") }}"/></div>
    <div style="position:absolute;width:50%;left:25%;top:8%">
        <div id="nplayer" style="width:100%"></div>
    </div>
    <div class="d-flex align-items-center justify-content-between" style="position:absolute;width:50%;left:25%;top:82%;height:15%">
        <div onclick="click_left()" id="click_left_button" style="cursor:pointer">
            <svg class="bi bi-chevron-compact-left" width="25" height="25" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
            </svg>
        </div>
        <div class="d-flex justify-content-start align-items-center flex-nowrap scroll" style="height:100%">
            {%for vid_e in videos.keys()%}
                {% if videos[vid_e]['rank']!=13%}
            <div class="p-1" onClick="handleListItemClick('{{vid_e}}')" id="div-{{vid_e}}" style="height:100%;cursor:pointer">
                <img src="/static/pic/mygo_j{{videos[vid_e]['rank']}}.webp" class="rounded-2" style="height:100%;width: auto"/>
            </div>
                {%endif%}
            {%endfor%}
        </div>
        <div onclick="click_right()" id="click_right_button" style="cursor:pointer">
            <svg class="bi bi-chevron-compact-right" width="25" height="25" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg>
        </div>
    </div>
</div>
<div class="container-fluid m-0 p-0 position-relative">
    <div><img style="width:100%" src="{{ url_for("static", filename="mygo_static/mygo3.png") }}"/></div>
    <img style="position:absolute;width:50%;left: 25%;bottom:0%" src="{{ url_for("static", filename="mygo_static/mygo3_1.png") }}"/>
</div>
</body>

</html>
<script>

    {#var target = document.getElementById("div-{{vid}}");#}
    {#target.scrollIntoView({ behavior: 'smooth', inline: 'start' });#}

    /* 视频tab点击处理 */
    function handleListItemClick(i) {
        redirectUrl = '/mygo?vid=' + (i);
        window.location.href = redirectUrl;
    };
    /* 视频tab左右移动处理 */
    function click_left(){
        const container = document.querySelector(".scroll");
        const containerRect = container.getBoundingClientRect();
        const scrollLeft = container.scrollLeft - (containerRect.width / 2);
        container.scrollTo({
            left: scrollLeft,
            behavior: 'smooth'
        });
    }
    function click_right(){
       const container = document.querySelector(".scroll");
        const containerRect = container.getBoundingClientRect();
        const scrollLeft = container.scrollLeft + (containerRect.width / 2);
        container.scrollTo({
            left: scrollLeft,
            behavior: 'smooth'
        });
    }
</script>