<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>「BanG Dream! It's MyGO!!!!!」</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="mygo.css") }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="{{ url_for("static", filename="nplayer/dist/index.min.js") }}"></script>
    <script src="{{ url_for("static", filename="nplayer-danmaku/dist/index.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="jquery/jquery.min.js") }}"></script>
    <script> const vid = '{{vid}}';</script>
    <script src="{{ url_for("static", filename="player.js") }}"></script>
</head>
<body class="body">
<div class="div1">
    <a href="http://127.0.0.1:5000/video/Av914573114">
        <img class="img1-1" src="{{ url_for("static", filename="mygo_static/mygo1_1.png") }}"/>
    </a>
</div>
<div class="div2">
    <div id="nplayer" class="player"></div>
    <div class="scroll">
        {%for vid_e in videos.keys()%}
            {% if videos[vid_e]['rank']!=13%}
        <div class="item" onClick="handleListItemClick('{{vid_e}}')" id="div-{{vid_e}}">
            <img src="/static/pic/mygo_j{{videos[vid_e]['rank']}}.webp" style="width:100%;border-radius:10px;padding-bottom: 0px;"/>
        </div>
            {%endif%}
        {%endfor%}
    </div>
</div>
<div class="div3">
        <div class="player_bottom">
            <span id="number_of_people_danmu">1人正在观看，已装填{{videos[vid]['load_danmaku']}}条弹幕</span>
            <span style="padding-left:10px">
                <select id="danmuchangebar" onchange="chageDanmu()">
                    <option value="1">标准弹幕</option>
                    <option value="2">最多弹幕</option>
                    <option value="3">开播弹幕</option>
                </select>
            </span>
        </div>
<img class="img3-1" src="{{ url_for("static", filename="mygo_static/mygo3_1.png") }}"/></div>
</body>

</html>
<script>
    function handleListItemClick(i) {
        redirectUrl = '/mygo?vid=' + (i);
        window.location.href = redirectUrl;
    };
    document.getElementById('div-{{vid}}').scrollLeft
</script>